---
layout: layouts/base.njk
---
<!-- Delete this block, which will also remove the component CSS from the bundle -->
{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">
	<p>Learn to improve your skills as a Virtual Assistant through tips for VAs and people working from home #WFH.</p>
</div>
<!-- Stop deleting -->

{{ content | safe }}

<hr/>

<h1>Links</h1>
<ul>
	<li><a href="/tech-stack/">Tech Stack</a></li>
	<li><a href="/social-contact/">Contact + Socials</a></li>
	<li><a href="/privacy-policy/">Disclaimer + Privacy Policy</a></li>
	<li><a href="/support/">Support Us</a></li>
</ul>